{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block title %}{{ artist.firstname }} {{ artist.name }}, {{ artist.expertise }} - Les Artistes d'abord{% endblock %}
{% block body %}
    <div class="base_client">
        <div class="container">
            <h1 class="titreArtiste">{{ artist.firstname }} {{ artist.name }}</h1>
            {% for image in artist.images %}
                <div class="row">
                    <div class="col s12">
                        <div class="artist-img">
                            <img src="{{ image.url | imagine_filter('xLarge') }}" alt="{{ image.alt }}"/>
                            <span class="artistName">{{ artist.firstname }} {{ artist.name }}</span>
                            <div class="shareBtn right">
                                <span class="shareTxt">Partager :</span>
                                <a href="http://www.facebook.com/sharer.php?u={{ app.request.getSchemeAndHttpHost()}}{{ path('we_crea_artist', { 'id': artist.id, "slug": artist.slug }) }}&p[title]={{ artist.firstname }} {{ artist.name }}" target="_blank">
                                    <i class="fab fa-facebook-square share"></i>
                                </a>
                                <a href="https://twitter.com/intent/tweet?text={{ artist.firstname }}%20{{ artist.name }}%20%7C%20Les%20Artistes%20d&#39abord&url={{ app.request.getSchemeAndHttpHost()}}{{ path('we_crea_artist', { 'id': artist.id, "slug": artist.slug }) }}&hashtags=lesartistesdabord" target="_blank">
                                    <i class="fab fa-twitter-square share"></i>
                                </a>
                                <a href="https://plus.google.com/share?url={{ app.request.getSchemeAndHttpHost()}}{{ path('we_crea_artist', { 'id': artist.id, "slug": artist.slug }) }}" target="_blank">
                                    <i class="fab fa-google-plus-square share"></i>
                                </a>
                                <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url={{ app.request.getSchemeAndHttpHost()}}{{ path('we_crea_artist', { 'id': artist.id, "slug": artist.slug }) }}&media={{ app.request.getSchemeAndHttpHost()}}{{ asset('images/') }}{{ image.url }}&description={{ artist.firstname }} {{ artist.name }} - {{ artist.expertise }}" data-pin-custom="true">
                                    <i class="fab fa-pinterest-square share"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col s12 col-description-artist">
                    <p><b>Qualité : </b> {{ artist.expertise }}</p>
                </div>
                <div class="col s12 col-description-artist">
                    <p><b>À propos </b></p>
                    <p>{{ artist.biography|nl2br }}</p>
                </div>
            </div>
        </div>
        {% if artist.works is not empty %}
            <div class="row">
                <h4> Les oeuvres de l'artiste </h4>
                <div class="cards">
                {% for work in artist.works %}
                    {% if work.images|first != false %}
                    <div class="card card_custom_artist cardResizer">
                        <a href="{{ path('we_crea_work', {'id' : work.id} ) }}">
                            <div
                                    class="card-image waves-effect waves-block waves-light card-image_custom"
                                    style="background: url(' {{ work.images|first.url | imagine_filter('large') }} ') center / cover ">
                            </div>
                        </a>
                        <div
                                style="
                                    margin-top: 10px;
                                "
                                class="card-content">
                            <span class="card-title activator grey-text text-darken-4 title">
                                {{ work.title }}
                            </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <b>{{ work.title }}</b>
                            <p>{{ work.description[0:50] }}</p>
                            <p></p>
                            <a href="{{ path('we_crea_work', {'id' : work.id} ) }}"> En savoir plus </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>

        $('#favsShow').imagesLoaded( function() {
            $('#favsShow').fadeIn(900);
            cardResize();
        });
    </script>
{% endblock %}