{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div id="carousel" class="slider fullscreen slider_custom">
                <ul class="slides">
                    {% for carrousel in carrousels %}
                        <li>
                            <a href="{{ carrousel.rout }}" target="_blank">
                                <img src="{{ carrousel.image_url | imagine_filter('xLarge') }}" alt="{{ carrousel.image_alt }}">
                                <div class="caption left-align caption_custom">
                                    <h1 class="titreCarrousel" style="color: {% if carrousel.fontColor is not null %}{{ carrousel.fontColor }}{% endif %}">{{ carrousel.title }}</h1>
                                    <p style="color: {% if carrousel.fontColor is not null %}{{ carrousel.fontColor }}{% endif %}">{{ carrousel.content }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="actu" class="hide">
                {% include '@WeCrea/User/actu.html.twig' %}
            </div>
        </div>
    </main>

{% endblock %}
